.container {
    @apply w-full gap-8;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    grid-template-areas: 
        "item1 item1 item2"
        "item3 item3 item3"
        "item4 item4 ."; 
}

.item1 {
    @apply flex flex-col rounded-md overflow-hidden w-full h-32 transition;
    @apply animate-pulse bg-background/50;
    grid-area: item1;
}

.item2 {
    @apply flex flex-col rounded-full overflow-hidden w-32 h-32 transition justify-self-end;
    @apply animate-pulse bg-background/50;
    grid-area: item2;
}

.item3 {
    @apply flex flex-col rounded-md overflow-hidden w-full h-32 transition;
    @apply animate-pulse bg-background/50;
    grid-area: item3;
}

.item4 {
    @apply flex flex-col rounded-md overflow-hidden w-full h-32 transition;
    @apply animate-pulse bg-background/50;
    grid-area: item4;
}